@import url(./styles/shoppingList.css);
@import url(./styles/dashboard.css);

:root {
  --main-color: #3f5b46;
  --light-main-color: #79897d;
  --accent-color: #f98858;
  --grey-color: #f3f5f5;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
